@import url(../App.css);
  
  .btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .btn--primary {
    background-color: var(--bg);
    color: var(--black);
    border: 1px solid var(--bg);
  }
  
  .btn--outline {
    background-color: transparent;
    color:var(--bg);
    padding: 8px 20px;
    border: 1px solid var(--bg);
    transition: all 0.3s ease-out;
  }
  
  .btn--medium {
    padding: 8px 20px;
    font-size: 18px;
  }
  
  .btn--large {
    padding: 12px 26px;
    font-size: 20px;
  }
  
  .btn--large:hover,
  .btn--medium:hover {
    transition: all 0.3s ease-out;
    background: var(--bg);
    color: var(--black);
    transition: 250ms;
  }